# Datasets Cleaning

## Groceries Dataset Cleaning

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Groceries.csv')
df.head()

,Unnamed: 0,pulses_1kg,flour_10kg,rice_5kg,oil_1ltr,soap,amount_of_loan,interest_rate,time_to_repay,simple_interest,...,no_of_units_sold_per_day_of_pulses,no_of_units_sold_per_day_of_flour,no_of_units_sold_per_day_of_rice,no_of_units_sold_per_day_of_oil,no_of_units_sold_per_day_of_soap,profit_percentage_last_year,competition_scale,sustainability,startup,management_effectivity
0,0,117,389,606,306,68,2194341,10,8,0,...,7,19,12,8,36,34,8,0,0,0
1,1,159,482,493,283,63,8639411,6,7,1,...,8,7,8,4,31,1,3,0,0,1
2,2,92,424,535,395,38,7205196,13,5,0,...,10,6,10,8,16,25,10,1,1,0
3,3,170,473,628,234,38,4041602,7,6,1,...,12,16,19,8,21,46,10,1,1,1
4,4,80,504,713,391,44,9191103,6,5,1,...,9,5,11,11,31,28,8,1,0,1

### Grocery Commodities Revenue

In [3]:
pulses_revenue = []
for i in range(0, 1000):
    pulses_revenue.append((df['pulses_1kg'].loc[i])*(df['no_of_units_sold_per_day_of_pulses'].loc[i])*365)

In [4]:
flour_revenue = []
for i in range(0, 1000):
    flour_revenue.append((df['flour_10kg'].loc[i])*(df['no_of_units_sold_per_day_of_flour'].loc[i])*365)

In [5]:
rice_revenue = []
for i in range(0, 1000):
    rice_revenue.append((df['flour_10kg'].loc[i])*(df['no_of_units_sold_per_day_of_rice'].loc[i])*365)

In [6]:
oil_revenue = []
for i in range(0, 1000):
    oil_revenue.append((df['flour_10kg'].loc[i])*(df['no_of_units_sold_per_day_of_oil'].loc[i])*365)

In [7]:
soap_revenue = []
for i in range(0, 1000):
    soap_revenue.append((df['flour_10kg'].loc[i])*(df['no_of_units_sold_per_day_of_soap'].loc[i])*365)

### Total Revenue of Grocery Commodities

In [8]:
total_revenue = []
for i in range(0, 1000):
    total_revenue.append(pulses_revenue[i] + flour_revenue[i] + rice_revenue[i] + oil_revenue[i] + soap_revenue[i])

In [9]:
df['Total_Revenue'] = total_revenue
df

,Unnamed: 0,pulses_1kg,flour_10kg,rice_5kg,oil_1ltr,soap,amount_of_loan,interest_rate,time_to_repay,simple_interest,...,no_of_units_sold_per_day_of_flour,no_of_units_sold_per_day_of_rice,no_of_units_sold_per_day_of_oil,no_of_units_sold_per_day_of_soap,profit_percentage_last_year,competition_scale,sustainability,startup,management_effectivity,Total_Revenue
0,0,117,389,606,306,68,2194341,10,8,0,...,19,12,8,36,34,8,0,0,0,10947810
1,1,159,482,493,283,63,8639411,6,7,1,...,7,8,4,31,1,3,0,0,1,9260780
2,2,92,424,535,395,38,7205196,13,5,0,...,6,10,8,16,25,10,1,1,0,6526200
3,3,170,473,628,234,38,4041602,7,6,1,...,16,19,8,21,46,10,1,1,1,11793880
4,4,80,504,713,391,44,9191103,6,5,1,...,5,11,11,31,28,8,1,0,1,10932480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,136,383,662,393,56,2596503,12,8,0,...,18,14,7,35,26,1,0,1,0,11039790
996,996,124,543,675,357,67,3201051,13,3,0,...,15,5,3,11,7,8,0,0,0,7010190
997,997,165,407,429,266,72,2737139,6,3,1,...,7,13,10,34,15,8,0,1,1,9808645
998,998,190,502,418,397,22,6998563,14,5,0,...,7,11,5,15,22,1,0,1,1,7309490
999,999,139,479,531,333,43,1169903,9,1,1,...,16,5,6,15,41,1,1,1,1,7748950

### Drop irrelevant columns

In [10]:
df.drop(columns = ['Unnamed: 0','pulses_1kg', 'flour_10kg', 'rice_5kg', 'oil_1ltr', 'soap', 'no_of_units_sold_per_day_of_pulses', 'no_of_units_sold_per_day_of_flour', 'no_of_units_sold_per_day_of_rice', 'no_of_units_sold_per_day_of_oil', 'no_of_units_sold_per_day_of_soap'], inplace = True)
df

,amount_of_loan,interest_rate,time_to_repay,simple_interest,cibil_score,past_debt_to_repay,profit_percentage_last_year,competition_scale,sustainability,startup,management_effectivity,Total_Revenue
0,2194341,10,8,0,866,2626136,34,8,0,0,0,10947810
1,8639411,6,7,1,379,3530079,1,3,0,0,1,9260780
2,7205196,13,5,0,607,13704,25,10,1,1,0,6526200
3,4041602,7,6,1,631,760740,46,10,1,1,1,11793880
4,9191103,6,5,1,549,4239769,28,8,1,0,1,10932480
...,...,...,...,...,...,...,...,...,...,...,...,...
995,2596503,12,8,0,584,1446763,26,1,0,1,0,11039790
996,3201051,13,3,0,891,3515671,7,8,0,0,0,7010190
997,2737139,6,3,1,498,3190966,15,8,0,1,1,9808645
998,6998563,14,5,0,319,4324349,22,1,0,1,1,7309490
999,1169903,9,1,1,500,3038933,41,1,1,1,1,7748950

## Electronics Dataset Cleaning

In [11]:
df1 = pd.read_csv('Electronics.csv')
df1.head()

,Unnamed: 0,laptop,phone,tablet,television,gaming_console,amount_of_loan,interest_rate,time_to_repay,simple_interest,...,no_of_units_sold_per_day_of_laptop,no_of_units_sold_per_day_of_phone,no_of_units_sold_per_day_of_tablet,no_of_units_sold_per_day_of_television,no_of_units_sold_per_day_of_gaming_console,profit_percentage_last_year,competition_scale,sustainability,startup,management_effectivity
0,0,132418,89006,35556,152056,34014,763678,10,8,0,...,3,2,3,2,2,26,5,0,1,1
1,1,148670,73138,42669,139667,31219,7672065,7,3,1,...,9,5,2,2,2,38,8,1,1,1
2,2,80097,58530,40918,93328,35964,6145468,6,6,0,...,9,2,4,4,1,31,10,0,0,0
3,3,147145,69937,34825,124307,35933,7285267,9,2,0,...,9,4,3,2,2,32,1,1,0,1
4,4,137103,94860,37855,192082,28629,5693485,13,2,0,...,1,2,1,3,2,23,8,0,1,1

### Electronics Commodities Revenue

In [12]:
laptop_revenue = []
for i in range(0, 1000):
    laptop_revenue.append((df1['laptop'].loc[i])*(df1['no_of_units_sold_per_day_of_laptop'].loc[i])*365)

In [13]:
phone_revenue = []
for i in range(0, 1000):
    phone_revenue.append((df1['phone'].loc[i])*(df1['no_of_units_sold_per_day_of_phone'].loc[i])*365)

In [14]:
tablet_revenue = []
for i in range(0, 1000):
    tablet_revenue.append((df1['tablet'].loc[i])*(df1['no_of_units_sold_per_day_of_tablet'].loc[i])*365)

In [15]:
television_revenue = []
for i in range(0, 1000):
    television_revenue.append((df1['television'].loc[i])*(df1['no_of_units_sold_per_day_of_television'].loc[i])*365)

In [16]:
gaming_console_revenue = []
for i in range(0, 1000):
    gaming_console_revenue.append((df1['gaming_console'].loc[i])*(df1['no_of_units_sold_per_day_of_gaming_console'].loc[i])*365)

### Total Revenue of Electronics Commodities

In [17]:
total_revenue1 = []
for i in range(0, 1000):
    total_revenue1.append(laptop_revenue[i] + phone_revenue[i] + tablet_revenue[i] + television_revenue[i] + gaming_console_revenue[i])

In [18]:
df1['Total_Revenue'] = total_revenue1
df1

,Unnamed: 0,laptop,phone,tablet,television,gaming_console,amount_of_loan,interest_rate,time_to_repay,simple_interest,...,no_of_units_sold_per_day_of_phone,no_of_units_sold_per_day_of_tablet,no_of_units_sold_per_day_of_television,no_of_units_sold_per_day_of_gaming_console,profit_percentage_last_year,competition_scale,sustainability,startup,management_effectivity,Total_Revenue
0,0,132418,89006,35556,152056,34014,763678,10,8,0,...,2,3,2,2,26,5,0,1,1,384737010
1,1,148670,73138,42669,139667,31219,7672065,7,3,1,...,5,2,2,2,38,8,1,1,1,777752950
2,2,80097,58530,40918,93328,35964,6145468,6,6,0,...,2,4,4,1,31,10,0,0,0,514971565
3,3,147145,69937,34825,124307,35933,7285267,9,2,0,...,4,3,2,2,32,1,1,0,1,740587920
4,4,137103,94860,37855,192082,28629,5693485,13,2,0,...,2,1,3,2,23,8,0,1,1,364336430
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,68234,19516,31240,34180,33392,1766342,7,2,0,...,3,4,4,1,27,10,0,1,1,178882120
996,996,54163,30439,48413,163845,28260,7960820,13,6,0,...,2,1,2,1,4,2,0,0,1,209351955
997,997,56699,103125,33835,98858,32226,7218840,9,6,1,...,3,2,1,1,34,2,1,1,1,268247625
998,998,133914,13637,24386,94376,46307,2642612,11,3,0,...,4,4,2,2,19,9,0,0,0,500362440
999,999,129618,69038,31839,73522,29184,5014765,9,3,0,...,6,3,2,1,15,8,0,1,1,676175275

### Drop irrelevant columns

In [19]:
df1.drop(columns = ['Unnamed: 0','laptop', 'phone', 'tablet', 'television', 'gaming_console', 'no_of_units_sold_per_day_of_laptop', 'no_of_units_sold_per_day_of_phone', 'no_of_units_sold_per_day_of_tablet', 'no_of_units_sold_per_day_of_television', 'no_of_units_sold_per_day_of_gaming_console'], inplace = True)
df1

,amount_of_loan,interest_rate,time_to_repay,simple_interest,cibil_score,past_debt_to_repay,profit_percentage_last_year,competition_scale,sustainability,startup,management_effectivity,Total_Revenue
0,763678,10,8,0,399,4475457,26,5,0,1,1,384737010
1,7672065,7,3,1,524,4369060,38,8,1,1,1,777752950
2,6145468,6,6,0,726,4592740,31,10,0,0,0,514971565
3,7285267,9,2,0,486,4287880,32,1,1,0,1,740587920
4,5693485,13,2,0,750,2706444,23,8,0,1,1,364336430
...,...,...,...,...,...,...,...,...,...,...,...,...
995,1766342,7,2,0,382,4527071,27,10,0,1,1,178882120
996,7960820,13,6,0,451,4808313,4,2,0,0,1,209351955
997,7218840,9,6,1,470,196367,34,2,1,1,1,268247625
998,2642612,11,3,0,657,634498,19,9,0,0,0,500362440
999,5014765,9,3,0,352,217563,15,8,0,1,1,676175275

## Clothing Dataset Cleaning

In [20]:
df2 = pd.read_csv('Clothing.csv')
df2.head()

,Unnamed: 0,shirt,kurta,tops,shorts,jeans,amount_of_loan,interest_rate,time_to_repay,simple_interest,...,no_of_units_sold_per_day_of_shirt,no_of_units_sold_per_day_of_kurta,no_of_units_sold_per_day_of_tops,no_of_units_sold_per_day_of_shorts,no_of_units_sold_per_day_of_jeans,profit_percentage_last_year,competition_scale,sustainability,startup,management_effectivity
0,0,1179,2734,10725,1702,1507,3824267,13,6,0,...,8,5,19,7,9,32,5,0,1,0
1,1,3569,2079,16574,2562,5481,4284919,12,7,1,...,10,9,19,8,4,26,9,1,0,1
2,2,997,2956,11429,1857,1326,4088261,14,1,0,...,11,2,9,6,7,12,3,0,1,0
3,3,2418,3090,11710,1791,1066,9322611,13,1,1,...,13,9,18,14,5,9,5,0,0,1
4,4,2836,4115,8948,1174,6232,9143030,9,3,0,...,5,6,17,12,4,40,7,1,0,0

### Clothing Commodities Revenue

In [21]:
shirt_revenue = []
for i in range(0, 1000):
    shirt_revenue.append((df2['shirt'].loc[i])*(df2['no_of_units_sold_per_day_of_shirt'].loc[i])*365)

In [22]:
kurta_revenue = []
for i in range(0, 1000):
    kurta_revenue.append((df2['kurta'].loc[i])*(df2['no_of_units_sold_per_day_of_kurta'].loc[i])*365)

In [23]:
tops_revenue = []
for i in range(0, 1000):
    tops_revenue.append((df2['tops'].loc[i])*(df2['no_of_units_sold_per_day_of_tops'].loc[i])*365)

In [24]:
shorts_revenue = []
for i in range(0, 1000):
    shorts_revenue.append((df2['shorts'].loc[i])*(df2['no_of_units_sold_per_day_of_shorts'].loc[i])*365)

In [25]:
jeans_revenue = []
for i in range(0, 1000):
    jeans_revenue.append((df2['jeans'].loc[i])*(df2['no_of_units_sold_per_day_of_jeans'].loc[i])*365)

### Total Revenue of Clothing Commodities

In [26]:
total_revenue2 = []
for i in range(0, 1000):
    total_revenue2.append(shirt_revenue[i] + kurta_revenue[i] + tops_revenue[i] + shorts_revenue[i] + jeans_revenue[i])

In [27]:
df2['Total_Revenue'] = total_revenue2
df2

,Unnamed: 0,shirt,kurta,tops,shorts,jeans,amount_of_loan,interest_rate,time_to_repay,simple_interest,...,no_of_units_sold_per_day_of_kurta,no_of_units_sold_per_day_of_tops,no_of_units_sold_per_day_of_shorts,no_of_units_sold_per_day_of_jeans,profit_percentage_last_year,competition_scale,sustainability,startup,management_effectivity,Total_Revenue
0,0,1179,2734,10725,1702,1507,3824267,13,6,0,...,5,19,7,9,32,5,0,1,0,92109210
1,1,3569,2079,16574,2562,5481,4284919,12,7,1,...,9,19,8,4,26,9,1,0,1,150280355
2,2,997,2956,11429,1857,1326,4088261,14,1,0,...,2,9,6,7,12,3,0,1,0,51159860
3,3,2418,3090,11710,1791,1066,9322611,13,1,1,...,9,18,14,5,9,5,0,0,1,109656220
4,4,2836,4115,8948,1174,6232,9143030,9,3,0,...,6,17,12,4,40,7,1,0,0,83950730
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,712,6773,15844,2872,2524,9056824,12,2,0,...,1,12,13,10,47,6,1,0,0,97048025
996,996,3230,1130,12860,590,5466,7489406,10,7,1,...,3,9,11,7,1,8,1,1,1,70427480
997,997,3502,6165,19272,847,6171,4267190,7,8,1,...,9,9,11,5,44,10,1,0,0,116118545
998,998,2482,6630,16448,2527,6721,6169537,14,6,1,...,5,15,14,9,26,6,1,1,0,148015165
999,999,3461,1164,6372,692,3337,7321804,10,8,0,...,5,5,4,9,28,1,0,0,0,29515360

### Drop irrelevant columns

In [28]:
df2.drop(columns = ['Unnamed: 0','shirt', 'kurta', 'tops', 'shorts', 'jeans', 'no_of_units_sold_per_day_of_shirt', 'no_of_units_sold_per_day_of_kurta', 'no_of_units_sold_per_day_of_tops', 'no_of_units_sold_per_day_of_shorts', 'no_of_units_sold_per_day_of_jeans'], inplace = True)
df2

,amount_of_loan,interest_rate,time_to_repay,simple_interest,cibil_score,past_debt_to_repay,profit_percentage_last_year,competition_scale,sustainability,startup,management_effectivity,Total_Revenue
0,3824267,13,6,0,746,4906804,32,5,0,1,0,92109210
1,4284919,12,7,1,546,2294871,26,9,1,0,1,150280355
2,4088261,14,1,0,700,1024957,12,3,0,1,0,51159860
3,9322611,13,1,1,866,3940023,9,5,0,0,1,109656220
4,9143030,9,3,0,866,613760,40,7,1,0,0,83950730
...,...,...,...,...,...,...,...,...,...,...,...,...
995,9056824,12,2,0,729,3283416,47,6,1,0,0,97048025
996,7489406,10,7,1,629,452729,1,8,1,1,1,70427480
997,4267190,7,8,1,390,2039990,44,10,1,0,0,116118545
998,6169537,14,6,1,605,2924053,26,6,1,1,0,148015165
999,7321804,10,8,0,476,3412198,28,1,0,0,0,29515360

## Combine all datasets

In [29]:
newdf = pd.concat([df, df1, df2], ignore_index = True)
newdf

,amount_of_loan,interest_rate,time_to_repay,simple_interest,cibil_score,past_debt_to_repay,profit_percentage_last_year,competition_scale,sustainability,startup,management_effectivity,Total_Revenue
0,2194341,10,8,0,866,2626136,34,8,0,0,0,10947810
1,8639411,6,7,1,379,3530079,1,3,0,0,1,9260780
2,7205196,13,5,0,607,13704,25,10,1,1,0,6526200
3,4041602,7,6,1,631,760740,46,10,1,1,1,11793880
4,9191103,6,5,1,549,4239769,28,8,1,0,1,10932480
...,...,...,...,...,...,...,...,...,...,...,...,...
2995,9056824,12,2,0,729,3283416,47,6,1,0,0,97048025
2996,7489406,10,7,1,629,452729,1,8,1,1,1,70427480
2997,4267190,7,8,1,390,2039990,44,10,1,0,0,116118545
2998,6169537,14,6,1,605,2924053,26,6,1,1,0,148015165
2999,7321804,10,8,0,476,3412198,28,1,0,0,0,29515360

In [30]:
newdf.to_csv('FinalDataset.csv')